docx2txt==0.8
nltk==3.6.6
spacy==3.2.1
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
pdfminer==20191125
pprintpp==0.4.0
regex==2021.11.10
sklearn==0.0